@{
    ViewData["Title"] = "About";
}
<div class="bars d-block d-sm-none"></div>

<div class="box-container mx-auto mt-5" style="height: 92vh;">
    <section id="about" class="row my-auto text-center">
        <div class="col-12 col-xl-10 mx-auto mt-5">
            <div id="about-content" class="p-3 rounded">
                <p>
                I graduated in 2003 with a degree in Political Science and no plan for my future.  I spent 10 years working in the Aerospace Engineering / Manufacturing fields as a Quality Control Specialist and a Buyer.  Eventually, I reached the point where I realized I could not do this for the rest of my career.  I needed to find something I was more passionate about.  With this goal in mind, I decided to go back to school and pursue a degree in Computer Science - something that has been a hobby of mine since my high school days.  I graduated  with my BS in Computer Science in December 2018 and am looking to start my dream career.
                </p>
                <p id="about-quote" class="mt-3">It's never too late to reinvent yourself...</p>
            </div> <!-- about-content -->
        </div>
    </section> <!-- about -->
</div> <!-- box-container -->