@{
     ViewData["Title"] = "Home Page";
}

<div class="bars d-block d-sm-none"></div>

<div class="box-container w-100">
     <div class="intro d-flex-column w-100">
          <img class="self-pic d-block mx-auto" src="../images/tommy.jpg" alt="Pic of Tommy" />
          <div id="small-buffer" class="d-block d-sm-none"></div>
          <div id="first-name" class="mt-md-5"><p>Tommy</p></div>
          <div id="last-name"><p class="my-auto">McDermott</p></div>
     </div>
</div>

<!-- <hr />
<footer>
     <p>&copy; 2019 - tommymcd.com</p>
</footer> -->

