          <!-- Flipping cards adapted from https://bootsnipp.com/snippets/X2Db0 -->
          <div class="row"> <!-- begin projects-->
               <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                         <div class="mainflip">
                              <div class="frontside">
                                   <div class="card">
                                        <div class="card-body text-center">
                                             <p><img class="img-fluid" src="../images/Glitch_Purple_RGB.png" alt="Twitch Logo" /></p>
                                             <h4 class="card-title">Twitch API How-To</h4>
                                        </div>
                                   </div>
                              </div>
                              <div class="backside">
                                   <div class="card">
                                        <div class="card-body text-center mt-4">
                                             <h4 class="card-title">Twitch API How-To</h4>
                                             <p class="card-text">This was a school project to teach and demonstrate how to use an API and incorporate it into a webpage.</p>
                                             <div class="tech-list">
                                                  <span class="badge badge-pill badge-primary">HTML</span>
                                                  <span class="badge badge-pill badge-primary">CSS</span>
                                                  <span class="badge badge-pill badge-primary">BOOTSTRAP</span>
                                                  <span class="badge badge-pill badge-primary">JS</span>
                                                  <span class="badge badge-pill badge-primary">AJAX</span>
                                                  <span class="badge badge-pill badge-primary">API</span>
                                             </div> 
                                             <a href="twitch" class="btn btn-primary btn-sm" target="_blank">See It!</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div> <!-- project card -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                         <div class="mainflip">
                              <div class="frontside">
                                   <div class="card">
                                        <div class="card-body text-center">
                                             <p><img class="img-fluid" src="../images/dark-knight-large.png" alt="Dungeons of Capstonia Logo" /></p>
                                             <h4 class="card-title">Dungeons of Capstonia</h4>
                                        </div>
                                   </div>
                              </div>
                              <div class="backside">
                                   <div class="card">
                                        <div class="card-body text-center mt-4">
                                             <h4 class="card-title">Dungeons of Capstonia</h4>
                                             <p class="card-text">This game was my Capstone project for the bachelor's program I completed.  This game was created by a team of myself and 3 others.</p>
                                             <div class="tech-list">
                                                  <span class="badge badge-pill badge-primary">C#</span>
                                                  <span class="badge badge-pill badge-primary">MONOGAME</span>
                                             </div> 
                                             <a href="capstonia" class="btn btn-primary btn-sm">See It!</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div> <!-- project card -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                         <div class="mainflip">
                              <div class="frontside">
                                   <div class="card">
                                        <div class="card-body text-center">
                                             <p><img class="img-fluid" src="../images/weather.jpg" alt="Weather App Logo" /></p>
                                             <h4 class="card-title">Weather App</h4>
                                        </div>
                                   </div>
                              </div>
                              <div class="backside">
                                   <div class="card">
                                        <div class="card-body text-center mt-4">
                                             <h4 class="card-title">Weather App</h4>
                                             <p class="card-text">This was a small project I completed on my own to practice API usage.</p>
                                             <div class="tech-list">
                                                  <span class="badge badge-pill badge-primary">HTML</span>
                                                  <span class="badge badge-pill badge-primary">CSS</span>
                                                  <span class="badge badge-pill badge-primary">JS</span>
                                                  <span class="badge badge-pill badge-primary">DOM</span>
                                                  <span class="badge badge-pill badge-primary">API</span>
                                             </div> 
                                             <a href="weather" target="_blank" class="btn btn-primary btn-sm">See It!</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div> <!-- project card -->
               <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                         <div class="mainflip">
                              <div class="frontside">
                                   <div class="card">
                                        <div class="card-body text-center">
                                             <p><img class="img-fluid" src="../images/sports.svg" alt="Sports App Logo" /></p>
                                             <h4 class="card-title">Sports App</h4>
                                        </div>
                                   </div>
                              </div>
                              <div class="backside">
                                   <div class="card">
                                        <div class="card-body text-center mt-4">
                                             <h4 class="card-title">Sports App</h4>
                                             <p class="card-text">Angular 7 app I developed.  You can check recent scores and upcoming games for all of your favorite teams!</p>
                                             <div class="tech-list">
                                                  <span class="badge badge-pill badge-primary">ANGULAR7</span>
                                                  <span class="badge badge-pill badge-primary">HTML</span>
                                                  <span class="badge badge-pill badge-primary">CSS</span>
                                                  <span class="badge badge-pill badge-primary">JS</span>
                                                  <span class="badge badge-pill badge-primary">BOOTSTRAP</span>
                                                  <span class="badge badge-pill badge-primary">API</span>
                                             </div> 
                                             <a href="http://sports.tommymcd.com" target="_blank" class="btn btn-primary btn-sm">See It!</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div> <!-- project card -->

          </div> <!-- end projects --> 