@{
    ViewData["Title"] = "Projects";
}
<div class="box-container mt-2 mt-sm-5 mx-auto">
     <section id="projects" class="row">
          <a href="../twitch" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/Glitch_Purple_RGB.png" alt="Twitch Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Twitch API How-To</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">HTML</span>
                                   <span class="badge badge-pill">CSS</span>
                                   <span class="badge badge-pill">BOOTSRAP</span>
                                   <span class="badge badge-pill">JAVASCRIPT</span>
                                   <span class="badge badge-pill">AJAX</span>
                                   <span class="badge badge-pill">TWITCH API</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <a href="../capstonia" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/dark-knight-large.png" alt="Dungeons of Capstonia Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Dungeons of Capstonia</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">C#</span>
                                   <span class="badge badge-pill">MONOGAME</span>
                                   <span class="badge badge-pill">FILE I/O</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <a href="../weather" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/sunclouds.png" alt="Weather App Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Weather Checker</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">HTML</span>
                                   <span class="badge badge-pill">CSS</span>
                                   <span class="badge badge-pill">JAVASCRIPT</span>
                                   <span class="badge badge-pill">DOM</span>
                                   <span class="badge badge-pill">OPENWEATHER API</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <a href="http://sports.tommymcd.com" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/sports.png" alt="Sport App Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Sports Score App</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">ANGULAR 7</span>
                                   <span class="badge badge-pill">HTML</span>
                                   <span class="badge badge-pill">CSS</span>
                                   <span class="badge badge-pill">BOOTSRAP</span>
                                   <span class="badge badge-pill">JAVASCRIPT</span>
                                   <span class="badge badge-pill">AJAX</span>
                                   <span class="badge badge-pill">MYSPORTSFEEDS API</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <a href="https://codesandbox.io/embed/8xl25nzmml" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/calculator.png" alt="Calculator Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Calculator (REACT)</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">HTML</span>
                                   <span class="badge badge-pill">CSS</span>
                                   <span class="badge badge-pill">BOOTSRAP</span>
                                   <span class="badge badge-pill">JAVASCRIPT</span>
                                   <span class="badge badge-pill">REACT</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <!-- <a href="#" target="_blank" class="col-11 col-md-5 mx-auto p-0">
               <div class="project pl-0 rounded row mt-2 ml-0">
                    <div class="col-4 p-0">
                         <div class="project-logo p-2">
                              <img class="img-responsive project-image d-block mx-auto" src="../images/Glitch_Purple_RGB.png" alt="Twitch Logo" />
                         </div>
                    </div>
                    <div class="col-8 p-0 mx-auto my-auto text-center">
                         <div class="project-title font-weight-bold pt-1">
                              <h5>Twitch API How-To</h5>
                         </div>
                         <div class="row">
                              <div class="col-12 mx-auto">
                                   <span class="badge badge-pill">HTML</span>
                                   <span class="badge badge-pill">CSS</span>
                                   <span class="badge badge-pill">BOOTSRAP</span>
                                   <span class="badge badge-pill">JAVASCRIPT</span>
                                   <span class="badge badge-pill">AJAX</span>
                                   <span class="badge badge-pill">API</span>
                              </div>
                         </div>
                    </div> 
               </div>
          </a>
          <div class="bottom-buffer"></div> -->
     </section>
</div>