/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
	line-height: 1.4;
	background-color: #457b9d;
	height: 100vh;
}

a {
	color: #f1faee;
	text-decoration: none;
}
